body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "comic neue", cursive; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    font-family: "comic neue", cursive;  
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {

}




img {
max-width: 90%; 
}